body{
    font-family: 'Poppins', sans-serif; 
    margin: 0px;
}
h1{
    font-size: 50px ;
}
.website{
    color: orange;
}
.half-width{
 width: 40%;
 float: left;
 margin-left: 5%;
 padding-left: 4%;

}
.half-width img{
    width: 100%;
}
.top-banner{
background-image: url("images/top-banner.png");
background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
 text-decoration: none;
 background-image: linear-gradient(orange,lightSalmon);
 padding: 10px  20px ;
 border-radius: 9px;
 color:white;
 font-weight: 700;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    float:bottom;
}